<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TST Web Service</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="upper-wrapper">
            <div class="upper-description">
                <div class="webtitle">
                    <h1>Mahasiswa Data Center</h1>
                </div>
                <div class="desc">
                    Sebuah website untuk mencari data informasi mahasiswa-mahasiswa ITB!
                </div>
            </div>
            <div class="upper-input">
                <div class="input-data">
                    <h1><span class="fa fa-lock"></span> Autentikasi Pengguna</h1>
                    <p>Untuk melanjutkan, silahkan login/register menggunakan akun Google Anda!</p>
                    <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Sign In with Google</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>